<nav class="off-canvas-sidebar push" id="menu-1" ng-cloak ng-class="offCanvasState.sidebar.currentCssState ">
    <div class="sidebar ao-panel fill align-content-to-header align-content-to-footer">
        <header>
            <div class="content">
                <button class="off-canvas icon-button" ng-click="toggleMenuState('close')">
                    <i class="fa fa-times-circle-o fa-2x"></i>
                </button>
            </div>
        </header>
        <section style="color: #ffffff;">
            <div class="subscribed-matters ao-panel fill align-content-to-header">
                <header>
                    <div class="content">
                    <input type="search"  class="fill">
                    </div>
                </header>

            </div>
        </section>

        <footer>
            <div class="content">FOOTER</div>
        </footer>
    </div>

</nav>