<div id="content-panel" class="off-canvas-content fill">
    <div class="ao-off-canvas-sidebar"></div>
    <div class="main-content ao-panel fill align-content-to-header align-content-to-footer">
        <header>
                <button class="off-canvas icon-button pull-left" ng-click="toggleMenuState('open')">
                    <i class="fa fa-reorder fa-2x"></i>
                </button>
            <div class="content">
                <button class="red small button pull-right">
                    <i class="fa fa-lock"></i>
                    Sign In
                </button>
            </div>
        </header>
        <section>
            <div class="">
                <ng-view></ng-view>
            </div>
        </section>
        <footer>
            <div class="content">CONTENT SLIDER FOOTER</div>
        </footer>
    </div>
</div>